@charset "UTF-8";

/* https://noonnu.cc/font_page/34 */
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

p{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}

.divcss{
    padding-top: 85px;
}